################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ProjetLibrairie/.vs/ProjetLibrairie/v15/Server/sqlite3
