
<form method="post" enctype="multipart/form-data" asp-controller="Librairie" asp-action="LoadJsonFile">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one your stock's information file using this form:</p>
            <br /><br />
            <input type="file" name="files">
        </div>
    </div>
    <br /><br />
    <div class="form-group">

        <div class="col-md-10">
            <input type="submit" value="Upload file">
        </div>
    </div>

</form>